
---

## å› å­å®æˆ˜ ç¬¬æ‹¾åï¼ˆXIIIï¼‰é›† 
# å®è§‚<span style="color: red;">æ‹©æ—¶</span>
#### å“ˆè€å¸ˆï¼Œä½ çš„æ–°è§†é¢‘åšå¥½äº†å—ï¼Ÿ

### ğŸ¬ å¤§å¯¼æ¼”å“ˆç½—å¾·
#### æ¬¢è¿æ¥åˆ°å“ˆç½—å¾·çš„*é‡åŒ–é¢‘é“*
- é¦™æ¸¯ä¸­æ–‡å¤§å­¦ï¼ˆæ·±åœ³ï¼‰é‡‘èå·¥ç¨‹æœ¬ç§‘
- ä¸‹ä¸€æ­¥å­¦ä¸šï¼šå³å°†å‰å¾€ç¾å›½æ”»è¯»é‡‘èå·¥ç¨‹ç¡•å£«ï¼ˆå·²è·å¾—å½•å–ï¼‰
- ğŸŒ [å…³æ³¨æˆ‘çš„Bilibiliï¼Œçœ‹æ‰€æœ‰äººéƒ½èƒ½å¬å¾—æ‡‚çš„é‡åŒ–å­¦ä¹ å†…å®¹](https://space.bilibili.com/629573485)
- ğŸŒ [ç‚¹å‡»è¿™é‡Œå…³æ³¨æˆ‘çš„YouTube](https://www.youtube.com/@BD_Harold)

ğŸŒŸğŸŒŸğŸŒŸ æˆ‘æœ‰ä¸€ä¸ªæ¢¦æƒ³ï¼Œå°±æ˜¯è®©é‡åŒ–å˜æˆä¸å†æ˜¯æŸä¹‹é«˜é˜çš„çµä¸¹å¦™è¯ï¼Œè€Œæ˜¯è®©æ•£æˆ·æŠ•èµ„è€…è®¤è¯†å¸‚åœºé£é™©æœ€å¥½çš„å·¥å…· @å“ˆç½—å¾·çš„é‡åŒ–é¢‘é“ ğŸŒŸğŸŒŸğŸŒŸ

---

In [1]:
SW_IND_MAP_1 = {
    '801010.SI': 'å†œæ—ç‰§æ¸”',
    '801030.SI': 'åŸºç¡€åŒ–å·¥',
    '801040.SI': 'é’¢é“',
    '801050.SI': 'æœ‰è‰²é‡‘å±',
    '801080.SI': 'ç”µå­',
    '801110.SI': 'å®¶ç”¨ç”µå™¨',
    '801120.SI': 'é£Ÿå“é¥®æ–™',
    '801130.SI': 'çººç»‡æœé¥°',
    '801140.SI': 'è½»å·¥åˆ¶é€ ',
    '801150.SI': 'åŒ»è¯ç”Ÿç‰©',
    '801160.SI': 'å…¬ç”¨äº‹ä¸š',
    '801170.SI': 'äº¤é€šè¿è¾“',
    '801180.SI': 'æˆ¿åœ°äº§',
    '801200.SI': 'å•†è´¸é›¶å”®',
    '801210.SI': 'ç¤¾ä¼šæœåŠ¡',
    '801230.SI': 'ç»¼åˆ',
    '801710.SI': 'å»ºç­‘ææ–™',
    '801720.SI': 'å»ºç­‘è£…é¥°',
    '801730.SI': 'ç”µåŠ›è®¾å¤‡',
    '801740.SI': 'å›½é˜²å†›å·¥',
    '801750.SI': 'è®¡ç®—æœº',
    '801760.SI': 'ä¼ åª’',
    '801770.SI': 'é€šä¿¡',
    '801780.SI': 'é“¶è¡Œ',
    '801790.SI': 'éé“¶é‡‘è',
    '801880.SI': 'æ±½è½¦',
    '801890.SI': 'æœºæ¢°è®¾å¤‡',
} 
#     '801950.SI': 'ç…¤ç‚­',
#     '801960.SI': 'çŸ³æ²¹çŸ³åŒ–',
#     '801970.SI': 'ç¯ä¿',
#     '801980.SI': 'ç¾å®¹æŠ¤ç†'
# }

å®è§‚ç»æµå…³ç³»ä½ æˆ‘ä»–

In [2]:
import pandas as pd
import numpy as np
import math
import pickle
from scipy.stats import gmean
from scipy.stats import percentileofscore
import dateutil.relativedelta


import warnings
warnings.filterwarnings('ignore')

df_month = pd.read_excel('ç»æµå¢é•¿_month.xlsx')
df_day = pd.read_excel('ç»æµå¢é•¿_day.xlsx')

In [3]:
df_day

           date  ä¸­å›½:ä¸­å€ºå›½å€ºåˆ°æœŸæ”¶ç›Šç‡:10å¹´  ä¸­å€ºå›½å€ºåˆ°æœŸæ”¶ç›Šç‡:1ä¸ªæœˆ
0    2011-01-04            3.8606         2.7181
1    2011-01-05            3.8132         2.4791
2    2011-01-06            3.8339         2.3000
3    2011-01-07            3.8237         2.2689
4    2011-01-10            3.8449         2.2408
...         ...               ...            ...
3098 2023-05-25            2.7065         1.5924
3099 2023-05-26            2.7205         1.5777
3100 2023-05-29            2.6950         1.5723
3101 2023-05-30            2.7000         1.5605
3102 2023-05-31            2.6850         1.5459

[3103 rows x 3 columns]

In [4]:
df_day['å›½å€ºåˆ©å·® 10Y-1M'] = df_day['ä¸­å›½:ä¸­å€ºå›½å€ºåˆ°æœŸæ”¶ç›Šç‡:10å¹´'] - df_day['ä¸­å€ºå›½å€ºåˆ°æœŸæ”¶ç›Šç‡:1ä¸ªæœˆ']
df_day.set_index('date', inplace=True)
df_day

            ä¸­å›½:ä¸­å€ºå›½å€ºåˆ°æœŸæ”¶ç›Šç‡:10å¹´  ä¸­å€ºå›½å€ºåˆ°æœŸæ”¶ç›Šç‡:1ä¸ªæœˆ  å›½å€ºåˆ©å·® 10Y-1M
date
2011-01-04            3.8606         2.7181       1.1425
2011-01-05            3.8132         2.4791       1.3341
2011-01-06            3.8339         2.3000       1.5339
2011-01-07            3.8237         2.2689       1.5548
2011-01-10            3.8449         2.2408       1.6041
...                      ...            ...          ...
2023-05-25            2.7065         1.5924       1.1141
2023-05-26            2.7205         1.5777       1.1428
2023-05-29            2.6950         1.5723       1.1227
2023-05-30            2.7000         1.5605       1.1395
2023-05-31            2.6850         1.5459       1.1391

[3103 rows x 3 columns]

In [5]:
df_month

,date,ä¸­å›½:PMI:æ–°å‡ºå£è®¢å•,ä¸­å›½:äº§é‡:å‘ç”µé‡:å½“æœˆå€¼,ä¸­å›½:é‡‘èæœºæ„:ä¸­é•¿æœŸè´·æ¬¾ä½™é¢,ä¸­å›½:ç¤¾ä¼šèèµ„è§„æ¨¡:æ–°å¢äººæ°‘å¸è´·æ¬¾:å½“æœˆå€¼
0,2011-01-31,50.7,3672.2746,295103.41,10263.0
1,2011-02-28,50.9,3100.8000,298789.94,5377.0
2,2011-03-31,52.5,3830.1000,302720.88,6794.0
3,2011-04-30,51.3,3663.8000,306483.51,7430.0
4,2011-05-31,51.1,3775.4000,308931.15,5516.0
...,...,...,...,...,...
144,2023-01-31,46.1,0.0000,1461844.06,49314.0
145,2023-02-28,52.4,0.0000,1473835.11,18184.0
146,2023-03-31,50.4,7172.9246,1500791.77,39487.0
147,2023-04-30,47.6,6583.5000,1506304.81,4431.0
148,2023-05-31,47.2,6885.8000,1515686.38,12219.0

In [6]:
df_month.set_index('date', inplace=True)
df_month

,ä¸­å›½:PMI:æ–°å‡ºå£è®¢å•,ä¸­å›½:äº§é‡:å‘ç”µé‡:å½“æœˆå€¼,ä¸­å›½:é‡‘èæœºæ„:ä¸­é•¿æœŸè´·æ¬¾ä½™é¢,ä¸­å›½:ç¤¾ä¼šèèµ„è§„æ¨¡:æ–°å¢äººæ°‘å¸è´·æ¬¾:å½“æœˆå€¼
date,,,,
2011-01-31,50.7,3672.2746,295103.41,10263.0
2011-02-28,50.9,3100.8000,298789.94,5377.0
2011-03-31,52.5,3830.1000,302720.88,6794.0
2011-04-30,51.3,3663.8000,306483.51,7430.0
2011-05-31,51.1,3775.4000,308931.15,5516.0
...,...,...,...,...
2023-01-31,46.1,0.0000,1461844.06,49314.0
2023-02-28,52.4,0.0000,1473835.11,18184.0
2023-03-31,50.4,7172.9246,1500791.77,39487.0
2023-04-30,47.6,6583.5000,1506304.81,4431.0
2023-05-31,47.2,6885.8000,1515686.38,12219.0

æ ‡çš„ç‰©ï¼šæŒ‡æ•°ï¼ˆè¡Œä¸šæŒ‡æ•°ï¼Œå®½åŸºæŒ‡æ•°ï¼‰
å› å­ï¼šæœˆé¢‘çš„æ•°æ®ï¼Œé‡‘èæ–¹é¢ï¼Œåˆ¶é€ ä¸šæ–¹é¢çš„ï¼›

ä¿¡å·ï¼š
1. é˜ˆå€¼ï¼›90%ï¼›99% å¦‚æœå› å­å¤§äºé˜ˆå€¼ï¼Œæˆ‘ä»¬å°±å¼€ä»“ï¼›ï¼šï¼ä¸ç”¨é€éœ²æœªæ¥çš„ä¿¡æ¯
2. æ»šåŠ¨çª—å£ï¼šrolling windowï¼›çª—å£å¤§å°ï¼š60ï¼›å¦‚æœå› å­å¤§äºä¸­ä½æ•°ï¼Œæˆ‘ä»¬å°±å¼€ä»“ã€‚

è¯„ä»·æ ‡å‡†ï¼š
1. èƒœç‡ï¼šå¾ˆç®€å•
2. PnLï¼›å•ä¸€èµ„äº§

In [7]:
# window_sizes = [60,72,84]
window_sizes = [60]

In [9]:
def calculate_exceeded_median(data, column_name, window_size):
    rolling_median = data[column_name].rolling(window=window_size).median()
    exceeded_median = (data[column_name] > rolling_median).astype(int)
    return exceeded_median

# è®¡ç®—æ»šåŠ¨åŒºé—´ä¸­ä½æ•°å¹¶æ ‡è®°è¶…å‡ºä¸­ä½æ•°çš„æƒ…å†µ

In [10]:
column_names = ['ä¸­å›½:PMI:æ–°å‡ºå£è®¢å•', 'ä¸­å›½:äº§é‡:å‘ç”µé‡:å½“æœˆå€¼', 'ä¸­å›½:ç¤¾ä¼šèèµ„è§„æ¨¡:æ–°å¢äººæ°‘å¸è´·æ¬¾:å½“æœˆå€¼', 'ä¸­å›½:é‡‘èæœºæ„:ä¸­é•¿æœŸè´·æ¬¾ä½™é¢']

for hhwindow_size in window_sizes:

    # å¯¹æ¯ä¸€åˆ—æ‰§è¡Œç›¸åŒçš„åŠŸèƒ½
    for column_name in column_names:
        # è®¡ç®—æ»šåŠ¨åŒºé—´ä¸­çš„ä¸­ä½æ•°å¹¶æ ‡è®°è¶…å‡ºä¸­ä½æ•°çš„æƒ…å†µ
        exceeded_median = calculate_exceeded_median(df_month, column_name, hhwindow_size)
        df_month[column_name + " signal" + str(hhwindow_size)] = exceeded_median

    df_day['å›½å€ºåˆ©å·® 10Y-1M signal' + str(hhwindow_size)] =  calculate_exceeded_median(df_day, 'å›½å€ºåˆ©å·® 10Y-1M', hhwindow_size)

In [11]:
df_month

,ä¸­å›½:PMI:æ–°å‡ºå£è®¢å•,ä¸­å›½:äº§é‡:å‘ç”µé‡:å½“æœˆå€¼,ä¸­å›½:é‡‘èæœºæ„:ä¸­é•¿æœŸè´·æ¬¾ä½™é¢,ä¸­å›½:ç¤¾ä¼šèèµ„è§„æ¨¡:æ–°å¢äººæ°‘å¸è´·æ¬¾:å½“æœˆå€¼,ä¸­å›½:PMI:æ–°å‡ºå£è®¢å• signal60,ä¸­å›½:äº§é‡:å‘ç”µé‡:å½“æœˆå€¼ signal60,ä¸­å›½:ç¤¾ä¼šèèµ„è§„æ¨¡:æ–°å¢äººæ°‘å¸è´·æ¬¾:å½“æœˆå€¼ signal60,ä¸­å›½:é‡‘èæœºæ„:ä¸­é•¿æœŸè´·æ¬¾ä½™é¢ signal60
date,,,,,,,,
2011-01-31,50.7,3672.2746,295103.41,10263.0,0,0,0,0
2011-02-28,50.9,3100.8000,298789.94,5377.0,0,0,0,0
2011-03-31,52.5,3830.1000,302720.88,6794.0,0,0,0,0
2011-04-30,51.3,3663.8000,306483.51,7430.0,0,0,0,0
2011-05-31,51.1,3775.4000,308931.15,5516.0,0,0,0,0
...,...,...,...,...,...,...,...,...
2023-01-31,46.1,0.0000,1461844.06,49314.0,0,0,1,1
2023-02-28,52.4,0.0000,1473835.11,18184.0,1,0,1,1
2023-03-31,50.4,7172.9246,1500791.77,39487.0,1,1,1,1
2023-04-30,47.6,6583.5000,1506304.81,4431.0,0,1,0,1
2023-05-31,47.2,6885.8000,1515686.38,12219.0,0,1,0,1

In [39]:
df_day

            ä¸­å›½:ä¸­å€ºå›½å€ºåˆ°æœŸæ”¶ç›Šç‡:10å¹´  ä¸­å€ºå›½å€ºåˆ°æœŸæ”¶ç›Šç‡:1ä¸ªæœˆ  å›½å€ºåˆ©å·® 10Y-1M  å›½å€ºåˆ©å·® 10Y-1M signal60
date
2011-01-04            3.8606         2.7181       1.1425                     0
2011-01-05            3.8132         2.4791       1.3341                     0
2011-01-06            3.8339         2.3000       1.5339                     0
2011-01-07            3.8237         2.2689       1.5548                     0
2011-01-10            3.8449         2.2408       1.6041                     0
...                      ...            ...          ...                   ...
2023-05-25            2.7065         1.5924       1.1141                     1
2023-05-26            2.7205         1.5777       1.1428                     1
2023-05-29            2.6950         1.5723       1.1227                     1
2023-05-30            2.7000         1.5605       1.1395                     1
2023-05-31            2.6850         1.5459       1.1391                     1

[3103 rows x 4 columns]

In [40]:
df_month.to_excel('æœˆåº¦æ•°æ®è§¦å‘.xlsx')
df_day.to_excel('æ—¥åº¦æ•°æ®è§¦å‘.xlsx')

In [12]:
def win_rate_test(sig_df, rets_df, window_size):

    sig_df = sig_df[(sig_df.index < rets_df.index.max())]

    record = []
    for win in window_size:
        total = sig_df[:len(sig_df.index)-win+1].sum()
        win_num = 0
        for i in range(len(sig_df.index)-win+1):

            # äº‹ä»¶å‘ç”Ÿçš„æ—¶é—´
            date = sig_df.index[i]
            
            # å¦‚æœå‘ç”Ÿäº†äº‹æƒ…
            if sig_df.loc[date] == 1:
                date = pd.to_datetime(date, format='%Y%m%d')
                # print(date)
                # print(rets_df.loc[date:][0])
                # print(date + window)
                # print(rets_df.loc[date:][0].index)
                # break
            
                if rets_df.loc[date:][0] < rets_df.loc[date:][win]:
                    win_num += 1

        
        win_ratio = win_num / total
        # print('{}æ—¥èƒœç‡={}, è§¦å‘æ¬¡æ•°={}'.format(win, win_ratio, total))      
        record.append(win_ratio)
    
    record.append(total)
    result = pd.DataFrame(record, index=['20æ—¥èƒœç‡', '60æ—¥èƒœç‡','è§¦å‘æ¬¡æ•°'])
    result = result.T
    return result

In [13]:
start_time = pd.to_datetime('20110101', format='%Y%m%d')

closeprice = pd.read_pickle('IndexQuote_ClosePrice.txt')
closeprice.index = pd.to_datetime(closeprice.index)

closeprice_500 = closeprice['000905.SH'].loc[closeprice['000905.SH'].index >= start_time]
closeprice_cyb = closeprice['399006.SZ'].loc[closeprice['399006.SZ'].index >= start_time]
closeprice_300 = closeprice['000300.SH'].loc[closeprice['000300.SH'].index >= start_time]

close_price_è¡Œä¸š = pd.read_pickle("IndexQuote_SWS_ClosePrice.txt")
close_price_è¡Œä¸š.index = pd.to_datetime(close_price_è¡Œä¸š.index)


close_price_è¡Œä¸š = close_price_è¡Œä¸š.loc[close_price_è¡Œä¸š.index >= start_time]
close_price_è¡Œä¸š = close_price_è¡Œä¸š[SW_IND_MAP_1.keys()]

In [14]:
closeprice_500

2011-01-03    4936.7160
2011-01-04    5011.4980
2011-01-05    5028.7660
2011-01-06    5001.2830
2011-01-07    4975.1440
                ...
2023-01-18    6151.4557
2023-01-19    6204.3261
2023-01-20    6251.4337
2023-01-30    6283.3272
2023-01-31    6289.1500
Name: 000905.SH, Length: 3348, dtype: float64

In [15]:
result_dict = {}
# å¯¹æ¯ä¸€åˆ—æ‰§è¡Œç›¸åŒçš„åŠŸèƒ½
for column_name in column_names:
    # è®¡ç®—æ»šåŠ¨åŒºé—´ä¸­çš„ä¸­ä½æ•°å¹¶æ ‡è®°è¶…å‡ºä¸­ä½æ•°çš„æƒ…å†µ
    exceeded_median = calculate_exceeded_median(df_month, column_name, hhwindow_size)
    result_dict[column_name] = exceeded_median

# è®¡ç®—å›½å€ºåˆ©å·®
result_dict['å›½å€ºåˆ©å·® 10Y-1M'] =  calculate_exceeded_median(df_day, 'å›½å€ºåˆ©å·® 10Y-1M', hhwindow_size)
result_dict

{'ä¸­å›½:PMI:æ–°å‡ºå£è®¢å•': date
 2011-01-31    0
 2011-02-28    0
 2011-03-31    0
 2011-04-30    0
 2011-05-31    0
              ..
 2023-01-31    0
 2023-02-28    1
 2023-03-31    1
 2023-04-30    0
 2023-05-31    0
 Name: ä¸­å›½:PMI:æ–°å‡ºå£è®¢å•, Length: 149, dtype: int64,
 'ä¸­å›½:äº§é‡:å‘ç”µé‡:å½“æœˆå€¼': date
 2011-01-31    0
 2011-02-28    0
 2011-03-31    0
 2011-04-30    0
 2011-05-31    0
              ..
 2023-01-31    0
 2023-02-28    0
 2023-03-31    1
 2023-04-30    1
 2023-05-31    1
 Name: ä¸­å›½:äº§é‡:å‘ç”µé‡:å½“æœˆå€¼, Length: 149, dtype: int64,
 'ä¸­å›½:ç¤¾ä¼šèèµ„è§„æ¨¡:æ–°å¢äººæ°‘å¸è´·æ¬¾:å½“æœˆå€¼': date
 2011-01-31    0
 2011-02-28    0
 2011-03-31    0
 2011-04-30    0
 2011-05-31    0
              ..
 2023-01-31    1
 2023-02-28    1
 2023-03-31    1
 2023-04-30    0
 2023-05-31    0
 Name: ä¸­å›½:ç¤¾ä¼šèèµ„è§„æ¨¡:æ–°å¢äººæ°‘å¸è´·æ¬¾:å½“æœˆå€¼, Length: 149, dtype: int64,
 'ä¸­å›½:é‡‘èæœºæ„:ä¸­é•¿æœŸè´·æ¬¾ä½™é¢': date
 2011-01-31    0
 2011-02-28    0
 2011-03-31    0
 2011-04-30    0
 2011-05-31    0
              ..
 2023-01-31    1
 2023-02-28    1
 2023-03-31    1
 2023-04-30    1
 2023-05-31    1
 Name: ä¸­å›½:é‡‘èæœºæ„:ä¸­é•¿æœŸè´·æ¬¾ä½™é¢, Length: 149, dtype: int64,
 'å›½å€ºåˆ©å·® 10Y-1M': date
 2011-01-04    0
 2011-01-05    0
 2011-01-06    0
 2011-01-07    0
 2011-01-10    0
              ..
 2023-05-25    1
 2023-05-26    1
 2023-05-29    1
 2023-05-30    1
 2023-05-31    1
 Name: å›½å€ºåˆ©å·® 10Y-1M, Length: 3103, dtype: int64}

In [16]:
for hhwindow_size in window_sizes:

    window_size = [20,60]

    output_dict = {}  # Dictionary to store the results
    for name,item in result_dict.items():
        # print()
        # print(name)
        # # print(item)
        # print(len(item))
        temp_500 = win_rate_test(item, closeprice_500, window_size)
        temp_300 = win_rate_test(item, closeprice_300, window_size)
        temp_cyb = win_rate_test(item, closeprice_cyb, window_size)

# temp_500
# temp_300

In [50]:
result_dict

{'ä¸­å›½:PMI:æ–°å‡ºå£è®¢å•': date
 2011-01-31    0
 2011-02-28    0
 2011-03-31    0
 2011-04-30    0
 2011-05-31    0
              ..
 2023-01-31    0
 2023-02-28    1
 2023-03-31    1
 2023-04-30    0
 2023-05-31    0
 Name: ä¸­å›½:PMI:æ–°å‡ºå£è®¢å•, Length: 149, dtype: int64,
 'ä¸­å›½:äº§é‡:å‘ç”µé‡:å½“æœˆå€¼': date
 2011-01-31    0
 2011-02-28    0
 2011-03-31    0
 2011-04-30    0
 2011-05-31    0
              ..
 2023-01-31    0
 2023-02-28    0
 2023-03-31    1
 2023-04-30    1
 2023-05-31    1
 Name: ä¸­å›½:äº§é‡:å‘ç”µé‡:å½“æœˆå€¼, Length: 149, dtype: int64,
 'ä¸­å›½:ç¤¾ä¼šèèµ„è§„æ¨¡:æ–°å¢äººæ°‘å¸è´·æ¬¾:å½“æœˆå€¼': date
 2011-01-31    0
 2011-02-28    0
 2011-03-31    0
 2011-04-30    0
 2011-05-31    0
              ..
 2023-01-31    1
 2023-02-28    1
 2023-03-31    1
 2023-04-30    0
 2023-05-31    0
 Name: ä¸­å›½:ç¤¾ä¼šèèµ„è§„æ¨¡:æ–°å¢äººæ°‘å¸è´·æ¬¾:å½“æœˆå€¼, Length: 149, dtype: int64,
 'ä¸­å›½:é‡‘èæœºæ„:ä¸­é•¿æœŸè´·æ¬¾ä½™é¢': date
 2011-01-31    0
 2011-02-28    0
 2011-03-31    0
 2011-04-30    0
 2011-05-31    0
              ..
 2023-01-31    1
 2023-02-28    1
 2023-03-31    1
 2023-04-30    1
 2023-05-31    1
 Name: ä¸­å›½:é‡‘èæœºæ„:ä¸­é•¿æœŸè´·æ¬¾ä½™é¢, Length: 149, dtype: int64,
 'å›½å€ºåˆ©å·® 10Y-1M': date
 2011-01-04    0
 2011-01-05    0
 2011-01-06    0
 2011-01-07    0
 2011-01-10    0
              ..
 2023-05-25    1
 2023-05-26    1
 2023-05-29    1
 2023-05-30    1
 2023-05-31    1
 Name: å›½å€ºåˆ©å·® 10Y-1M, Length: 3103, dtype: int64}

In [17]:
hhwindow_size = 60

window_size = [20,60]

output_dict = {}  # Dictionary to store the results
for name,item in result_dict.items():

    temp_500 = win_rate_test(item, closeprice_500, window_size)
    temp_300 = win_rate_test(item, closeprice_300, window_size)
    temp_cyb = win_rate_test(item, closeprice_cyb, window_size)

    industry_results = {}
    
    for i, j in close_price_è¡Œä¸š.items():

        industry_name = SW_IND_MAP_1[i]
        # print(industry_name)
        temp = win_rate_test(item, j, window_size)
        industry_results[industry_name] = temp

    output_dict[name] = {
        'æ²ªæ·±500æŒ‡æ•°': temp_500,
        'æ²ªæ·±300æŒ‡æ•°': temp_300,
        'åˆ›ä¸šæ¿æŒ‡æ•°': temp_cyb,
        'è¡Œä¸š': industry_results
    }

In [18]:
output_df = pd.DataFrame(columns=['å› å­', 'æ ‡çš„', '20æ—¥èƒœç‡', '60æ—¥èƒœç‡', 'è§¦å‘æ¬¡æ•°','è¡Œä¸š'])

for factor_name, factor_result in output_dict.items():
    for stock_name, stock_result in factor_result.items():
        if isinstance(stock_result, pd.DataFrame):
            temp_df = stock_result.reset_index()
            temp_df['å› å­'] = factor_name
            temp_df['æ ‡çš„'] = stock_name
            # output_df = output_df.append(temp_df, ignore_index=True)
            output_df = pd.concat([output_df, temp_df], ignore_index=True)
        elif isinstance(stock_result, dict):
            for industry_name, industry_result in stock_result.items():
                temp_df = industry_result.reset_index()
                temp_df['å› å­'] = factor_name
                temp_df['æ ‡çš„'] = stock_name
                temp_df['è¡Œä¸š'] = industry_name
                # output_df = output_df.append(temp_df, ignore_index=True)
                output_df = pd.concat([output_df, temp_df], ignore_index=True)

# Save the output_df DataFrame to an Excel file
output_df.to_excel(f"{hhwindow_size}_results.xlsx")

æ€è€ƒï¼š
æ€ä¹ˆå¯ä»¥åšçš„æ›´å¥½ï¼Ÿ