
---

### 因子实战 第十集 
## 因子回测 Backtesting 系列 代码习题课

### 🎬 主讲：大导演哈罗德
- 学历背景：香港中文大学本科学位 金融工程专业
- 下一步学业：即将前往美国纽约进修金融工程硕士（已获得录取）
- 🌐 [关注我的Bilibili，看所有人都能听得懂的量化学习内容](https://space.bilibili.com/629573485)
- 🌐 [点击这里关注我的YouTube](https://www.youtube.com/@BD_Harold)

🌟🌟🌟 我有一个梦想，就是让量化变成不再是束之高阁的灵丹妙药，而是让散户投资者认识市场风险最好的工具 @哈罗德的量化频道 🌟🌟🌟

---

In [3]:
"""
这个框框的代码是用来导入数据的和因子回测的方程的。
"""

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

from 因子回测包 import factor_correlation as FactorIC
from 因子回测包 import factor_group as FactorGroup

sw_ind = pd.read_pickle('数据/IndexComponent_SWN_I.txt')
stock_close = pd.read_pickle('数据/StockQuote_ClosePrice_BackwardAdj.txt')
stock_open = pd.read_pickle('数据/StockQuote_OpenPrice_BackwardAdj.txt')
monthly_trading_day = pd.read_pickle('数据/monthly_trading_day.pkl')
monthly_trading_day['start_date'] = pd.to_datetime(monthly_trading_day['start_date'], format='%Y%m%d')
monthly_trading_day['end_date'] = pd.to_datetime(monthly_trading_day['end_date'], format='%Y%m%d')
start_date = pd.to_datetime('20120101', format='%Y%m%d')
end_date = pd.to_datetime('20231231', format='%Y%m%d')
filtered_trading_days = monthly_trading_day.loc[(monthly_trading_day['end_date'] >= start_date) & (monthly_trading_day['end_date'] <= end_date)]
stock_close.index = pd.to_datetime(stock_close.index)
stock_open.index = pd.to_datetime(stock_open.index)
stock_ret_monthly = stock_close.reindex(index = filtered_trading_days.end_date).pct_change() 
stock_ret_monthly_nextopen = stock_open.shift(-1).reindex(filtered_trading_days.end_date).pct_change()

def simple_factor_test(factor,use_data = 'this_close'):
    if use_data=='this_close':
        # 
        this_ret_data = stock_ret_monthly.shift(-1)
    else: 
        this_ret_data = stock_ret_monthly_nextopen.shift(-1)

    ic,rankic = FactorIC(factor,this_ret_data)
    factor_group = FactorGroup(factor)
    condata = pd.concat([factor_group.unstack(),this_ret_data.unstack()],axis=1).dropna().reset_index()
    condata.columns =['stockcode','date','group_id','ret']
    group_ret = condata.groupby(['date','group_id'])['ret'].mean().unstack()
    return ic,rankic,group_ret

pe = pd.read_pickle('数据/StockQuote_PEttm.txt')
ep = 1/pe
ep.replace(np.inf, np.nan, inplace = True) #  计算EPttm并去除无限大的值
ep.replace(-np.inf, np.nan, inplace = True) #  计算EPttm并去除无限大的值
dEP = ep.diff(60) # dEP因子是EP因子的六十日delta
# 回测周期：2012-01-01至2023-12-31
# change index into datetime
dEP.index = pd.to_datetime(dEP.index)
dEP_monthly = dEP.reindex(index = filtered_trading_days.end_date) # 按月抽样得到dEP的因子值

ic,rankic,group_ret  = simple_factor_test(dEP_monthly)

In [4]:
dEP_monthly

,000001.SZ,000002.SZ,000003.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,...,873570.BJ,873576.BJ,873593.BJ,873665.BJ,873679.BJ,873693.BJ,873703.BJ,873726.BJ,873833.BJ,T00018.SH
end_date,,,,,,,,,,,,,,,,,,,,,
2012-01-31,0.002481,0.002968,NaN,-0.005549,-0.000836,0.003023,0.001183,0.000250,0.003496,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-02-29,-0.008819,-0.014278,NaN,0.000517,0.000000,-0.048998,-0.006231,0.000168,0.006528,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-03-30,0.009866,0.011612,NaN,-0.000039,0.000000,-0.075154,-0.010442,NaN,0.002593,0.000081,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-04-27,0.024902,0.009117,NaN,0.000090,-0.011260,-0.026038,-0.008362,NaN,-0.005099,0.003222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-05-31,0.035999,0.013286,NaN,0.000321,-0.011072,-0.006224,-0.000973,NaN,-0.006213,0.003018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-31,0.000320,-0.006076,NaN,NaN,NaN,-0.005207,NaN,NaN,-0.001222,NaN,...,NaN,NaN,-0.002515,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-31,0.011596,-0.010884,NaN,NaN,NaN,-0.030556,NaN,NaN,0.005729,NaN,...,NaN,NaN,0.009349,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-09-28,0.016771,0.002706,NaN,NaN,NaN,-0.021728,NaN,NaN,0.004374,NaN,...,NaN,0.011647,0.005304,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-10-31,0.028188,0.009378,NaN,NaN,NaN,-0.012639,NaN,NaN,0.002719,NaN,...,NaN,0.012465,0.004526,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-11-30,0.033949,0.014017,NaN,NaN,NaN,0.002268,-0.002407,NaN,-0.004027,NaN,...,NaN,-0.006952,-0.008262,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
dEP_monthly.stack()

end_date
2012-01-31  000001.SZ    0.002481
            000002.SZ    0.002968
            000004.SZ   -0.005549
            000005.SZ   -0.000836
            000006.SZ    0.003023
                           ...
2023-11-30  873305.BJ   -0.023443
            873339.BJ   -0.028873
            873527.BJ   -0.040824
            873576.BJ   -0.006952
            873593.BJ   -0.008262
Length: 404456, dtype: float64

In [13]:
data = pd.DataFrame(index= pd.MultiIndex.from_product([dEP_monthly.index, dEP_monthly.columns], names=['date','asset']))
data['factor'] = dEP_monthly.stack()
data = data.dropna(subset=['factor'])
data

                        factor
date       asset
2012-01-31 000001.SZ  0.002481
           000002.SZ  0.002968
           000004.SZ -0.005549
           000005.SZ -0.000836
           000006.SZ  0.003023
...                        ...
2023-11-30 873305.BJ -0.023443
           873339.BJ -0.028873
           873527.BJ -0.040824
           873576.BJ -0.006952
           873593.BJ -0.008262

[404456 rows x 1 columns]

In [17]:
# def 函数(data) -- > group column
# for group percentile

data_factor_array = data['factor'].values
# len(data_factor_array)
data_factor_array

array([ 0.00248113,  0.00296799, -0.00554869, ..., -0.04082391,
       -0.00695192, -0.00826239])

In [16]:
grouper = [data.index.get_level_values('date')]
print(grouper)

[DatetimeIndex(['2012-01-31', '2012-01-31', '2012-01-31', '2012-01-31',
               '2012-01-31', '2012-01-31', '2012-01-31', '2012-01-31',
               '2012-01-31', '2012-01-31',
               ...
               '2023-11-30', '2023-11-30', '2023-11-30', '2023-11-30',
               '2023-11-30', '2023-11-30', '2023-11-30', '2023-11-30',
               '2023-11-30', '2023-11-30'],
              dtype='datetime64[ns]', name='date', length=404456, freq=None)]

In [18]:
data_final_split = np.full((len(data_factor_array),),np.nan)
data_final_split

array([nan, nan, nan, ..., nan, nan, nan])

In [27]:
data_groupby = data.groupby(grouper)
for i in data_groupby.groups:
    # # print(i[0]) 
    # print(i[1])
    print(i)
    print(data_groupby.get_group(i))
    break

2012-01-31 00:00:00
                        factor
date       asset
2012-01-31 000001.SZ  0.002481
           000002.SZ  0.002968
           000004.SZ -0.005549
           000005.SZ -0.000836
           000006.SZ  0.003023
...                        ...
           601991.SH -0.003206
           601992.SH  0.032230
           601996.SH  0.010854
           601998.SH  0.004654
           601999.SH  0.004056

[2076 rows x 1 columns]

In [29]:
data_groupby_indices = data_groupby.indices
# print(data_groupby_indices)
data_groupby_indices = list(data_groupby_indices.values())
data_groupby_indices

[array([   0,    1,    2, ..., 2073, 2074, 2075]),
 array([2076, 2077, 2078, ..., 4160, 4161, 4162]),
 array([4163, 4164, 4165, ..., 6248, 6249, 6250]),
 array([6251, 6252, 6253, ..., 8258, 8259, 8260]),
 array([ 8261,  8262,  8263, ..., 10283, 10284, 10285]),
 array([10286, 10287, 10288, ..., 12350, 12351, 12352]),
 array([12353, 12354, 12355, ..., 14453, 14454, 14455]),
 array([14456, 14457, 14458, ..., 16509, 16510, 16511]),
 array([16512, 16513, 16514, ..., 18588, 18589, 18590]),
 array([18591, 18592, 18593, ..., 20633, 20634, 20635]),
 array([20636, 20637, 20638, ..., 22699, 22700, 22701]),
 array([22702, 22703, 22704, ..., 24777, 24778, 24779]),
 array([24780, 24781, 24782, ..., 26886, 26887, 26888]),
 array([26889, 26890, 26891, ..., 28978, 28979, 28980]),
 array([28981, 28982, 28983, ..., 31060, 31061, 31062]),
 array([31063, 31064, 31065, ..., 33087, 33088, 33089]),
 array([33090, 33091, 33092, ..., 35128, 35129, 35130]),
 array([35131, 35132, 35133, ..., 37187, 37188, 37189]),
 array([37190, 37191, 37192, ..., 39346, 39347, 39348]),
 array([39349, 39350, 39351, ..., 41439, 41440, 41441]),
 array([41442, 41443, 41444, ..., 43529, 43530, 43531]),
 array([43532, 43533, 43534, ..., 45591, 45592, 45593]),
 array([45594, 45595, 45596, ..., 47657, 47658, 47659]),
 array([47660, 47661, 47662, ..., 49723, 49724, 49725]),
 array([49726, 49727, 49728, ..., 51829, 51830, 51831]),
 array([51832, 51833, 51834, ..., 53922, 53923, 53924]),
 array([53925, 53926, 53927, ..., 56003, 56004, 56005]),
 array([56006, 56007, 56008, ..., 58033, 58034, 58035]),
 array([58036, 58037, 58038, ..., 60135, 60136, 60137]),
 array([60138, 60139, 60140, ..., 62280, 62281, 62282]),
 array([62283, 62284, 62285, ..., 64489, 64490, 64491]),
 array([64492, 64493, 64494, ..., 66631, 66632, 66633]),
 array([66634, 66635, 66636, ..., 68779, 68780, 68781]),
 array([68782, 68783, 68784, ..., 70891, 70892, 70893]),
 array([70894, 70895, 70896, ..., 73022, 73023, 73024]),
 array([73025, 73026, 73027, ..., 75165, 75166, 75167]),
 array([75168, 75169, 75170, ..., 77364, 77365, 77366]),
 array([77367, 77368, 77369, ..., 79548, 79549, 79550]),
 array([79551, 79552, 79553, ..., 81719, 81720, 81721]),
 array([81722, 81723, 81724, ..., 83816, 83817, 83818]),
 array([83819, 83820, 83821, ..., 86000, 86001, 86002]),
 array([86003, 86004, 86005, ..., 88245, 88246, 88247]),
 array([88248, 88249, 88250, ..., 90571, 90572, 90573]),
 array([90574, 90575, 90576, ..., 92851, 92852, 92853]),
 array([92854, 92855, 92856, ..., 95178, 95179, 95180]),
 array([95181, 95182, 95183, ..., 97459, 97460, 97461]),
 array([97462, 97463, 97464, ..., 99730, 99731, 99732]),
 array([ 99733,  99734,  99735, ..., 102004, 102005, 102006]),
 array([102007, 102008, 102009, ..., 104310, 104311, 104312]),
 array([104313, 104314, 104315, ..., 106594, 106595, 106596]),
 array([106597, 106598, 106599, ..., 108884, 108885, 108886]),
 array([108887, 108888, 108889, ..., 111099, 111100, 111101]),
 array([111102, 111103, 111104, ..., 113387, 113388, 113389]),
 array([113390, 113391, 113392, ..., 115729, 115730, 115731]),
 array([115732, 115733, 115734, ..., 118152, 118153, 118154]),
 array([118155, 118156, 118157, ..., 120516, 120517, 120518]),
 array([120519, 120520, 120521, ..., 122893, 122894, 122895]),
 array([122896, 122897, 122898, ..., 125264, 125265, 125266]),
 array([125267, 125268, 125269, ..., 127677, 127678, 127679]),
 array([127680, 127681, 127682, ..., 130118, 130119, 130120]),
 array([130121, 130122, 130123, ..., 132632, 132633, 132634]),
 array([132635, 132636, 132637, ..., 135153, 135154, 135155]),
 array([135156, 135157, 135158, ..., 137709, 137710, 137711]),
 array([137712, 137713, 137714, ..., 140275, 140276, 140277]),
 array([140278, 140279, 140280, ..., 142954, 142955, 142956]),
 array([142957, 142958, 142959, ..., 145745, 145746, 145747]),
 array([145748, 145749, 145750, ..., 148676, 148677, 148678]),
 array([148679, 148680, 148681, ..., 151594, 151595, 151596]),
 array([151597, 151598, 151599, ..., 154543, 154544, 154545]),
 array([154546, 154547, 154548, ..., 157490, 157491, 157492]),
 array([157493, 157494, 157495, ..., 160489, 160490, 160491]),
 array([160492, 160493, 160494, ..., 163524, 163525, 163526]),
 array([163527, 163528, 163529, ..., 166637, 166638, 166639]),
 array([166640, 166641, 166642, ..., 169732, 169733, 169734]),
 array([169735, 169736, 169737, ..., 172843, 172844, 172845]),
 array([172846, 172847, 172848, ..., 175902, 175903, 175904]),
 array([175905, 175906, 175907, ..., 179011, 179012, 179013]),
 array([179014, 179015, 179016, ..., 182159, 182160, 182161]),
 array([182162, 182163, 182164, ..., 185384, 185385, 185386]),
 array([185387, 185388, 185389, ..., 188538, 188539, 188540]),
 array([188541, 188542, 188543, ..., 191702, 191703, 191704]),
 array([191705, 191706, 191707, ..., 194802, 194803, 194804]),
 array([194805, 194806, 194807, ..., 197923, 197924, 197925]),
 array([197926, 197927, 197928, ..., 201053, 201054, 201055]),
 array([201056, 201057, 201058, ..., 204210, 204211, 204212]),
 array([204213, 204214, 204215, ..., 207252, 207253, 207254]),
 array([207255, 207256, 207257, ..., 210290, 210291, 210292]),
 array([210293, 210294, 210295, ..., 213193, 213194, 213195]),
 array([213196, 213197, 213198, ..., 216174, 216175, 216176]),
 array([216177, 216178, 216179, ..., 219194, 219195, 219196]),
 array([219197, 219198, 219199, ..., 222289, 222290, 222291]),
 array([222292, 222293, 222294, ..., 225298, 225299, 225300]),
 array([225301, 225302, 225303, ..., 228308, 228309, 228310]),
 array([228311, 228312, 228313, ..., 231282, 231283, 231284]),
 array([231285, 231286, 231287, ..., 234277, 234278, 234279]),
 array([234280, 234281, 234282, ..., 237281, 237282, 237283]),
 array([237284, 237285, 237286, ..., 240326, 240327, 240328]),
 array([240329, 240330, 240331, ..., 243387, 243388, 243389]),
 array([243390, 243391, 243392, ..., 246414, 246415, 246416]),
 array([246417, 246418, 246419, ..., 249230, 249231, 249232]),
 array([249233, 249234, 249235, ..., 252175, 252176, 252177]),
 array([252178, 252179, 252180, ..., 255156, 255157, 255158]),
 array([255159, 255160, 255161, ..., 258271, 258272, 258273]),
 array([258274, 258275, 258276, ..., 261283, 261284, 261285]),
 array([261286, 261287, 261288, ..., 264325, 264326, 264327]),
 array([264328, 264329, 264330, ..., 267356, 267357, 267358]),
 array([267359, 267360, 267361, ..., 270483, 270484, 270485]),
 array([270486, 270487, 270488, ..., 273677, 273678, 273679]),
 array([273680, 273681, 273682, ..., 276951, 276952, 276953]),
 array([276954, 276955, 276956, ..., 280242, 280243, 280244]),
 array([280245, 280246, 280247, ..., 283564, 283565, 283566]),
 array([283567, 283568, 283569, ..., 286782, 286783, 286784]),
 array([286785, 286786, 286787, ..., 290069, 290070, 290071]),
 array([290072, 290073, 290074, ..., 293573, 293574, 293575]),
 array([293576, 293577, 293578, ..., 297257, 297258, 297259]),
 array([297260, 297261, 297262, ..., 300895, 300896, 300897]),
 array([300898, 300899, 300900, ..., 304577, 304578, 304579]),
 array([304580, 304581, 304582, ..., 308226, 308227, 308228]),
 array([308229, 308230, 308231, ..., 311908, 311909, 311910]),
 array([311911, 311912, 311913, ..., 315628, 315629, 315630]),
 array([315631, 315632, 315633, ..., 319488, 319489, 319490]),
 array([319491, 319492, 319493, ..., 323361, 323362, 323363]),
 array([323364, 323365, 323366, ..., 327247, 327248, 327249]),
 array([327250, 327251, 327252, ..., 330961, 330962, 330963]),
 array([330964, 330965, 330966, ..., 334645, 334646, 334647]),
 array([334648, 334649, 334650, ..., 338424, 338425, 338426]),
 array([338427, 338428, 338429, ..., 342364, 342365, 342366]),
 array([342367, 342368, 342369, ..., 346179, 346180, 346181]),
 array([346182, 346183, 346184, ..., 350025, 350026, 350027]),
 array([350028, 350029, 350030, ..., 353807, 353808, 353809]),
 array([353810, 353811, 353812, ..., 357629, 357630, 357631]),
 array([357632, 357633, 357634, ..., 361497, 361498, 361499]),
 array([361500, 361501, 361502, ..., 365461, 365462, 365463]),
 array([365464, 365465, 365466, ..., 369439, 369440, 369441]),
 array([369442, 369443, 369444, ..., 373419, 373420, 373421]),
 array([373422, 373423, 373424, ..., 377199, 377200, 377201]),
 array([377202, 377203, 377204, ..., 380965, 380966, 380967]),
 array([380968, 380969, 380970, ..., 384819, 384820, 384821]),
 array([384822, 384823, 384824, ..., 388839, 388840, 388841]),
 array([388842, 388843, 388844, ..., 392721, 392722, 392723]),
 array([392724, 392725, 392726, ..., 396653, 396654, 396655]),
 array([396656, 396657, 396658, ..., 400530, 400531, 400532]),
 array([400533, 400534, 400535, ..., 404453, 404454, 404455])]

In [34]:
for this_group_place in range(len(data_groupby_indices)):

    this_indice_place = data_groupby_indices[this_group_place]
    this_factor_array = data_factor_array[this_indice_place]
    this_split_result = data_final_split[this_indice_place]
    # print(this_indice_place)
    # print(this_factor_array)
    # print(this_split_result)
    # break

    split_percentile = np.linspace(0,100,5+1)
    # print(split_percentile)
    # break
    分割值 = np.nanpercentile(this_factor_array,split_percentile)
    # print(分割值)
    分割值[0] -=1
    分割值[-1] +=1
    for i in range(len(分割值)-1):
        this_split_result[ ( this_factor_array<=  分割值[i+1]) &  ( this_factor_array > 分割值[i]  )        ] = i
        data_final_split[this_indice_place] = this_split_result

    data.loc[:, 'group'] = data_final_split
    # final_data = data['group'].unstack()

    # break

In [35]:
data

                        factor  group
date       asset
2012-01-31 000001.SZ  0.002481    1.0
           000002.SZ  0.002968    1.0
           000004.SZ -0.005549    0.0
           000005.SZ -0.000836    0.0
           000006.SZ  0.003023    1.0
...                        ...    ...
2023-11-30 873305.BJ -0.023443    0.0
           873339.BJ -0.028873    0.0
           873527.BJ -0.040824    0.0
           873576.BJ -0.006952    0.0
           873593.BJ -0.008262    0.0

[404456 rows x 2 columns]

In [36]:
final_data = data['group'].unstack()

In [37]:
final_data

asset,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,000011.SZ,...,301418.SZ,301421.SZ,301469.SZ,301507.SZ,301529.SZ,603075.SH,603270.SH,603275.SH,688591.SH,872953.BJ
date,,,,,,,,,,,,,,,,,,,,,
2012-01-31,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-02-29,0.0,0.0,1.0,1.0,0.0,0.0,1.0,4.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-03-30,4.0,4.0,3.0,3.0,0.0,0.0,NaN,3.0,3.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-04-27,4.0,4.0,3.0,1.0,0.0,1.0,NaN,2.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-05-31,4.0,4.0,2.0,0.0,1.0,2.0,NaN,1.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-31,3.0,0.0,NaN,NaN,0.0,NaN,NaN,1.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-31,4.0,0.0,NaN,NaN,0.0,NaN,NaN,3.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-09-28,4.0,3.0,NaN,NaN,0.0,NaN,NaN,3.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-10-31,4.0,4.0,NaN,NaN,0.0,NaN,NaN,3.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-11-30,4.0,4.0,NaN,NaN,3.0,1.0,NaN,1.0,NaN,0.0,...,2.0,2.0,3.0,3.0,2.0,3.0,3.0,3.0,3.0,0.0

In [38]:
final_data.reindex( index=dEP_monthly.index,columns=dEP_monthly.columns  )

,000001.SZ,000002.SZ,000003.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,...,873570.BJ,873576.BJ,873593.BJ,873665.BJ,873679.BJ,873693.BJ,873703.BJ,873726.BJ,873833.BJ,T00018.SH
end_date,,,,,,,,,,,,,,,,,,,,,
2012-01-31,1.0,1.0,NaN,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-02-29,0.0,0.0,NaN,1.0,1.0,0.0,0.0,1.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-03-30,4.0,4.0,NaN,3.0,3.0,0.0,0.0,NaN,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-04-27,4.0,4.0,NaN,3.0,1.0,0.0,1.0,NaN,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-05-31,4.0,4.0,NaN,2.0,0.0,1.0,2.0,NaN,1.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-31,3.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,1.0,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-31,4.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,3.0,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-09-28,4.0,3.0,NaN,NaN,NaN,0.0,NaN,NaN,3.0,NaN,...,NaN,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-10-31,4.0,4.0,NaN,NaN,NaN,0.0,NaN,NaN,3.0,NaN,...,NaN,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-11-30,4.0,4.0,NaN,NaN,NaN,3.0,1.0,NaN,1.0,NaN,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN